node_modules
dist
.env
*.tsbuildinfo

# Prisma
backend/prisma/*.db
backend/prisma/*.db-journal

# Frontend build
frontend/dist

# Docker
.docker-data

# IDE
.vscode
.idea
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
